@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root {
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--Light-grayish-cyan);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 56%;
}
.container .top {
    display: flex;
    align-self: center;
}
.container .bottom{
    background-color: var(--White);
    display: flex;
    border-radius: 0.9375rem;
    padding: 1.5625rem 3.125rem 1.5625rem 1.5625rem;    
    gap: 1.875rem;
}
.bottom .right {
    background-color: var(--Very-dark-cyan);
    border-radius: 0.9375rem;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    min-width: 49%;
    gap: 6.25rem;
    
}
.bottom .left {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
}
.bill {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}
.bill label {
    font-size: 0.8rem;
}
.bill input {
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 0.3125rem;
    border: none;
    font-size: 1.5625rem;
    font-family: 'Space Mono', monospace;
    text-align: right;
    background-image: url('./images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 0.625rem;
}

.peopleInp {
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 0.3125rem;
    font-size: 1.5625rem;
    border-width: 0px;
    font-family: 'Space Mono', monospace;
    text-align: right;
    background-image: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 0.625rem;
}
.peopleInp.errorInp {
    border-color: red;
    border-width: 0.0625rem;
}
.people {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
 
}
.labels {
    display: flex;
    line-height: 1rem;
    font-size: 0.8rem;
    gap: 6.25rem;
}
.labels label:last-child {
    color: red;
}
.hide {
    visibility: hidden;
}
.tip {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.3125rem;
    font-size: 0.8rem;
}
.tip .btns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
}
.btns button {
    background-color: var(--Very-dark-cyan);
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.5625rem;
    font-family: 'Space Mono', monospace;
    color: var(--White);
    padding: 0.625rem 1.875rem;
}
.btns button:hover {
    background-color: var(--Light-grayish-cyan);
    color: var(--Very-dark-cyan);
}
button.active {
    background-color: var(--Strong-cyan);
    color : var(--Very-dark-cyan);
}
.tip input {
    border-radius: 0.625rem;
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    width: 100%;
    font-size: 0.9375rem;
    text-align: center;
    height: 100%;
}
.tip input:hover {
    outline: var(--Strong-cyan) auto 1rem;
}
.top-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}
.right .amount, .right .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;

}
.amount p:first-child, .total p:first-child {
    color: var(--White);
}
.amount p:last-child, .total p:last-child {
    font-size: 0.75rem;
    color: var(--Light-grayish-cyan);
    opacity: 0.5;
    
}
.value {
    color: var(--Strong-cyan);
    font-size: 2.5rem;
}
.right button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: var(--Strong-cyan);
    opacity: 0.4;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
}
.right button:hover {
    opacity: 1;
}
button:hover {
    cursor: pointer;
}

@media screen and (max-width:600px){
    .container {
        padding: 0;
        max-width: 100%;
    }
    .bottom {
        flex-direction: column;
    }
    .bottom .left {
        min-width: 100%;
    }
    .bottom .right {
        min-width: 100%;
    }
    .tip {
        width: 100%;
    }
    .tip .btns {
        grid-template-columns: repeat(2, 1fr);
    }
    .bottom .right {
        gap: 1.875rem;
    }
    .container .top {
        padding-top: 3.75rem;
    }
    .container .bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 1.5625rem;
    }
}
